.warp {
	padding: 50px;
}

.main {
	max-width: 1000px;
	margin: 0 auto;
}

.filter {
	display: flex;
	margin-top: 10px;
}

.input {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-right: 24px;
}

.btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
}